.top-wrapper{
  background-image: url("../../images/hero-bg.png"), url("../../images/hero-linear.png");
  background-size: 100%, 100% 100%;
  background-repeat: no-repeat;
  background-position: 100%;
}

.site-header{
  padding: 24px 0;
}

.header-wrap{
  position: relative;
}

.dark-mode-btn{
  width: 32px;
  height: 32px;
  background-color: #8973FF;
  border: none;
  border-radius: 50%;
  background-image: url("../../images/dark-mode-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.site-header.active .dark-mode-btn{
  display: none;
}

.sitenav{
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background-image: linear-gradient(63.56deg, #6B50FF 48.13%, #A145FF 100%);
}

.site-header.active .sitenav{
  display: block;
}

.nav-item{
  &:not(:last-child){
    margin-bottom: 40px;
  }
}

.nav-link{
  transition: opacity 0.3s ease;
}

.nav-link:hover{
  opacity: 0.5;
  text-decoration: underline !important;
}

.burger-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: none;
  background-color: transparent;
  background-image: url("../../images/burger-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.2s ease;
}

.site-header.active .burger-btn{
  background-image: url("../../images/close-icon.svg");
}

@include mobile-first(678px){

  .site-logo{
    margin-right: auto;
  }

  .sitenav{
    position: static;
    display: block;
    height: auto;
    padding-top: 0;
    background-image: none;
  }
  .nav-list{
    flex-direction: row !important;
    justify-content: end;
  }

  .nav-item{
    &:not(:last-child){
      margin-right: 40px;
      margin-bottom: 0px;
    }

    &:last-child{
    margin-right: 72px;
    }
  }

  .nav-link{
    font-weight: 400 !important;
  }

  .dark-mode-btn{
    position: absolute;
    right: 0;
  }

  .burger-btn{
    display: none;
  }
}